.galleryPage {
  padding: 120px 7%;
  background: #f4f4f4;
  min-height: 100vh;
}

.galleryPage h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 7px;
  color: #39485c;
  margin-bottom: 60px;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.galleryItem {
  height: 320px;
  overflow: hidden;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
}

.galleryItem:hover img {
  transform: scale(1.06);
}

@media(max-width:900px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:600px) {
  .galleryPage {
    padding: 90px 25px;
  }

  .galleryGrid {
    grid-template-columns: 1fr;
  }

  .galleryItem {
    height: 330px;
  }


}
.galleryItem {
  border: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.92);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox img {
  max-width: 86%;
  max-height: 88vh;
  object-fit: contain;
}

.lightboxClose {
  position: absolute;
  top: 28px;
  right: 38px;
  border: none;
  background: transparent;
  color: white;
  font-size: 46px;
  cursor: pointer;
}

.lightboxArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: white;
  font-size: 70px;
  cursor: pointer;
}

.lightboxPrev {
  left: 38px;
}

.lightboxNext {
  right: 38px;
}

@media (max-width: 600px) {
  .lightbox img {
    max-width: 92%;
  }

  .lightboxArrow {
    font-size: 52px;
  }

  .lightboxPrev {
    left: 15px;
  }

  .lightboxNext {
    right: 15px;
  }
}